body {
    background-color: #EEE;
    color: black;
    margin: 0;
}

div.contents {
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 8px;
}

#titlearea {
    background-color: #FF4422;
}

hr.footer {
    display: none;
}

.footer {
    background-color: #CCC;
}
